@import "tailwindcss";

/* Light mode variables */
:root {
  --background: #ffffff;
  --foreground: #8367C7;
  --link-color: #5603AD;
  --accent-color: #B3E9C7;
}

/* Dark mode variables */
.dark {
  --background: #201A24;
  --foreground: #C2F8CB;
  --link-color: #B3E9C7;
  --accent-color: #8367C7;
}

body {
  font-family: var(--font-mono), Arial, Helvetica, sans-serif;
}

.gradient-underline {
  text-decoration: none;
  background-image: linear-gradient(to right, var(--accent-color), var(--link-color));
  background-size: 0% 2px;
  background-position: left bottom;
  background-repeat: no-repeat;
  transition: background-size 300ms ease-in-out;
}

.gradient-underline:hover {
  background-size: 100% 2px;
}

.gradient-text {
  background-image: linear-gradient(to right, var(--accent-color), var(--link-color));
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
}